<footer id="contact">
    <p><strong>Email: </strong><br><a href="mailto:marinmcginley@gmail.com?
        subject=Hi%20there!">marinmcginley@gmail.com</a></p>
    <p><strong>Phonenumber: </strong><br>+354-845-6401</p>
    <p><strong>Address: </strong><br>
        Sjafnargata 12,<br>
        101 Reykjavík,<br>
        Iceland
    </p>
</footer>