<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('header'); -%>
    <div class="banner">
      <h1>My Webpage</h1>
      <nav>
        <ul class="container-nav">
          <li class="item-nav"><a href="#about">About Me</a></li>
          <li class="item-nav"><a href="#education">Education</a></li>
          <li class="item-nav"><a href="#employment">Employement History</a></li>
          <li class="item-nav"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <main>
      <div class="intro">
        <img class="my-image" src="images/my-image.jpg" alt="Marín McGinley"/>
        <h1 class="name">Marín Ingibjörg McGinley</h1>
      </div>
      <section id="about">
        <h2>About Me</h2>
        <p class="about-me">In my studies I have for the past couple of years been mostly drawn to 
          database management, design and implementation of algorithms, security and web programming. 
          Throughout my school years I have also studied music and played violin and received a 
          certificate of higher education for violin performance as I graduated from The Music 
          College of Reykjavik in 2015.
          You can see my projects <a href="/projects">here</a>.
        </p>
      </section>
      <section id="education">
        <h2>Education</h2>
        <div class="container-education">
          <div class="image-container">
            <img src="images/HI-logo.png" class="hi logo"/>
          </div>
          <div class="wrapper">
            <h3>University of Iceland</h3>
            <p class="during">2015 - 2019</p>
            <p class="description">B.Sc., Software Engineering</p>
          </div>
        </div>
      </section>
      <section id="employment">
        <h2>Employment History</h2>
        <div class="container-employment">
          <div class="item">
            <div class="image-container">
              <img src="images/Icelandair-logo.png" class="rvk logo"/>
            </div>  
            <div class="wrapper">
              <h3>Integration Developer</h3>
              <a href="https://www.icelandair.com/" class="employer">Icelandair</a>
              <p class="during">January 2020 - Present</p>
              <p class="description">During my time with Icelandair I have been working in automation and integration. 
                I've built a couple of minor processes to fetch data from a website using BluePrism and this summer 
                I took part in creating an automatic process to process the refund claims that have piled up during covid using BluePrism and Webmethods.
              </p>
            </div>
          </div>
        <div class="container-employment">
          <div class="item">
            <div class="image-container">
              <img src="images/Rvk-logo.png" class="rvk logo"/>
            </div>  
            <div class="wrapper">
              <h3>Caregiver</h3>
              <a href="https://reykjavik.is/" class="employer">City of Reykjavík</a>
              <p class="during">January 2018 - December 2019</p>
              <p class="description">Assisting people with disabilities to become more independent, self-sufficient and self-reliant. 
                Preparing individuals for independent living arrangements.</p>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="images/HI-logo.png" class="hi logo"/>
            </div>
            <div class="wrapper">
              <h3>Teaching Assistant</h3>
              <a href="https://hi.is/" class="employer">University of Iceland</a>
              <p class="during">January 2019 - April 2019</p>
              <p class="description">Worked as a teaching assistant in the course Analysis of Algorithms. 
                I was responsible for assisting students with their homework as well as grading assignments. 
                The course focuses on different types of algorithmic-techniques, such as recursion, backtracking, 
                dynamic programming and greedy algorithms as well as data structures.</p>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="https://www.penninn.is/sites/penninn.is/themes/penninn_theme/stylesheets/images/svg/pen_eymundsson_logo.svg" class="penninn logo"/>
            </div>
            <div class="wrapper">
              <h3>Retail Cachier</h3>
              <a href="https://www.penninn.is" class="employer">Penninn Eymundsson</a>
              <p class="during">September 2017 - August 2018</p>
            </div>
          </div>
          <div class="item">
            <div class="image-container">
              <img src="images/Rvk-logo.png" class="rvk logo"/>
            </div>
            <div class="wrapper last-wrapper">
              <h3>Caregiver</h3>
              <a href="https://reykjavik.is/stadir/droplaugarstadir-hjukrunarheimili" class="employer">Droplaugarstaðir</a>
              <p class="during">May 2015 - August 2016</p>
              <p class="description">Worked as caregiver in a nursing home.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('footer'); -%>
  </body>
</html>

