<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>My Webpage</1>
    </header>
    <main>
      <figure>
        <img class="my-image" src="https://placeimg.com/200/200/animals" alt="Marín McGinley"/>
      </figure>
      <h1 class="name">Marín Ingibjörg McGinley</h1>
      <nav>
        <ul>
          <li><a href="#about">About Me</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#employment">Employement History</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <section id="about">
        <h2>About Me</h2>
        <p>I am a blablablabl</p>
      </section>
      <section id="education">
        <h2>Education</h2>
        <ul>
          <li class="experience">
            <p class="title">University of Iceland</p>
            <p class="description">B.Sc., Software Engineering</p>
          </li>
        </ul>
      </section>
      <section id="employment">
        <h2>Employment History</h2>
        <ul>
          <li class="experience">
            <p class="title">Caregiver</p>
            <a href="https://reykjavik.is/" class="employer">City of Reykjavík</a>
            <p class="during">January 2018 - Present</p>
            <p class="description">Assisting people with disabilities to become more independent, self-sufficient and self-reliant. 
              Preparing individuals for independent living arrangements.</p>
          </li>
          <li class="experience">
            <p class="title">Teaching Assistant</p>
            <a href="https://hi.is/" class="employer">University of Iceland</a>
            <p class="during">January 2019 - April 2019</p>
            <p class="description">Worked as a teaching assistant in the course Analysis of Algorithms. 
              I was responsible for assisting students with their homework as well as grading assignments. 
              The course focuses on different types of algorithmic-techniques, such as recursion, backtracking, 
              dynamic programming and greedy algorithms as well as data structures.</p>
          </li>
          <li class="experience">
              <p class="title">Retail Cachier</p>
              <a href="https://www.penninn.is" class="employer">Penninn Eymundsson</a>
              <p class="during">September 2017 - August 2018</p>
          </li>
          <li class="experience">
              <p class="title">Caregiver</p>
              <a href="https://reykjavik.is/stadir/droplaugarstadir-hjukrunarheimili" class="employer">Droplaugarstaðir</a>
              <p class="during">May 2015 - August 2016</p>
              <p class="description">Worked as caregiver in a nursing home</p>
          </li>
        </ul>
      </section>
    </main>
    <footer id="contact">
      <p><strong>email: </strong><a href="mailto:marinmcginley@gmail.com?
        subject=Hi%20there!">marinmcginley@gmail.com</a></p>
      <p><strong>phonenumber: </strong>+354-845-6401</p>
      <p><strong>address: </strong>
        <address>
            Sjafnargata 12<br>
            101 Reykjavík<br>
            Iceland
        </address>
      </p>
    </footer>
  </body>
</html>
