<!DOCTYPE html>
<html>
    <head>
        <title>My Projects</title>
        <link rel='stylesheet' href='/stylesheets/projects.css' />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="main-container">
                <header class="main-header">
                  <div><a href="/">Home</a></div>
                </header>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="grid">
                    <div class="project-border">
                        <div class="project-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="project-border">
                        <div class="project-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Sagittis id consectetur purus ut faucibus pulvinar elementum integer. Pellentesque sit amet porttitor eget dolor. Etiam erat velit scelerisque in dictum non. Diam quis enim lobortis scelerisque. Vitae congue eu consequat ac. Blandit volutpat maecenas volutpat blandit. Vestibulum sed arcu non odio euismod lacinia at quis risus. Arcu felis bibendum ut tristique et.</p>
                            <p>Pellentesque dignissim enim sit amet venenatis urna cursus. A pellentesque sit amet porttitor eget dolor morbi non arcu. Et malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Elit duis tristique sollicitudin nibh sit. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Fames ac turpis egestas integer eget aliquet nibh praesent. A diam sollicitudin tempor id. Arcu bibendum at varius vel pharetra vel. Nec feugiat nisl pretium fusce. Quis viverra nibh cras pulvinar mattis. Sed augue lacus viverra vitae congue eu. Congue mauris rhoncus aenean vel elit. Praesent elementum facilisis leo vel fringilla est. Vitae et leo duis ut diam quam nulla porttitor massa. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Integer eget aliquet nibh praesent tristique magna sit amet purus. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Proin libero nunc consequat interdum varius.</p>
                        </div>
                    </div>
                    <div class="project-border">
                        <div class="project-item">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eu sem integer vitae justo eget magna fermentum. Quis vel eros donec ac odio tempor orci. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer'); -%>
    </body>
</html>