<!DOCTYPE html>
<html>
    <head>
        <title>My Projects</title>
        <link rel='stylesheet' href='/stylesheets/projects.css' />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="main-container">
                <header class="main-header">
                  <div><a href="/">Home</a></div>
                </header>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="grid">
                    <div class="project-border">
                        <div class="project-item">
                            <h2>Jolly Time</h2>
                            <h3>--WORK IN PROGRESS--</h3>
                            <p>
                                For the two courses Software Project 1 and Software Project 2, which I took in my final year at The University of Iceland, I, 
                                along with three of my friends developed a website using Java Spring Boot and a mobile app using Android Studio with Java. 
                                The idea behind both projects was to create a system where users could create an account and upload their calendars. The users
                                could then connect with their friends and find a period of time for when all members of a particular group were available.
                                The calendars of each user would be private so the system would do all the calculations and spare the users the time and effort
                                often associated with time scheduling. 
                            </p>
                            <p>As I wasn't quite happy with the results in either course I decided to create this project the third time using a different 
                                platform. The plan was to build a web service that hosts the database of this project with an Express.js server and then build the front end
                                with React. You can view my code for the back end hosted on github 
                                <a href="https://github.com/marinimcginley/jolly-verkefni.git">here</a>.
                            </p>
                            <p>
                                I've also started working on the React front end which you can see 
                                <a href="https://github.com/MarinMcGinley/jolly-front">here</a> although I am still nowhere near finishing it.
                            </p>
                        </div>
                    </div>
                    <div class="project-border">
                        <div class="project-item">
                            <h2>Monte Carlo vs Temperal Difference-learning</h2>
                            <p>
                                This is a small project that I coded in University for the course Computational Intelligence which was largely based on 
                                <a href="https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PLzuuYNsE1EZAXYR4FJ75jcJseBmo4KQ9-">David Silver's lectures on 
                                reinforcement learning</a>. The goal of the assignment was to apply reinforcement learning methods to a card game, compare the results and display them graphically.
                                I used Python (numpy and matplotlib) for this project. You can see the description for this assignment, my code and final 
                                results hosted on github <a href="https://github.com/marinimcginley/MCvsTD.git">here</a>.
                            </p>
                        </div>
                    </div>
                    <div class="project-border">
                        <div class="project-item">
                            <h2>About Me</h2>
                            <p>
                                I created this website with the aim to have a place to keep a record of all my projects. 
                                I could have easily made a static website for this task but as I was unsure of what form it would take in the end
                                I decided I would use the Express application framework to build the website. 
                                You can view my project hosted on github <a href="https://github.com/marinimcginley/AboutMe">here</a>.
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer'); -%>
    </body>
</html>